.deco-in {
  border: solid var(--bdr-tn) var(--secondary-dark);
}

[class*="deco"]::before,
[class*="deco"]::after {
  width: var(--bdr-sz);
  height: var(--bdr-sz);
  border-width: var(--bdr-tqq);
  border-color: var(--accent-dark);
  z-index: 1;
}

[class*="deco"]::before {
  top: 0;
  border-top-style: solid;
}

[class*="deco"]::after {
  top: auto;
  bottom: 0;
  border-bottom-style: solid;
}

.deco-out::before,
.deco-in::after {
  border-left-style: solid;
}

.deco-in::before,
.deco-out::after {
  left: auto;
  right: 0;
  border-right-style: solid;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

// 1025px Responsive (min-width)
@media screen and (min-width: 1025px) {
  .deco-in {
    height: 23.2278rem;
  }
}

// 801px Responsive (min-width) & 1024px (max-width)
@media screen and (max-width: 1024px) and (min-width: 801px) {
  .deco-in {
    height: 35.158rem;
  }
}

// 800px Responsive (max-width)
@media screen and (max-width: 800px) {
  .deco-in {
    height: 27.8rem;
  }
}

// 650px Responsive (max-width)
@media screen and (max-width: 650px) {
  .deco-in {
    padding: calc(var(--vm) * 0.85) calc(var(--hp) * 0.9) calc(var(--vm) * 0.9);
  }
}
