.bx::before,
.bx::after {
  width: var(--bdr-sz);
  height: var(--bdr-sz);
  border-width: var(--bdr-tqq);
  border-color: var(--accent-dark);
  z-index: 2;
}

.bx::before {
  left: auto;
  right: 0;
  border-top-style: solid;
  border-right-style: solid;
}

.bx::after {
  top: auto;
  bottom: 0;
  border-bottom-style: solid;
  border-left-style: solid;
}

.title {
  margin-left: auto;

  strong {
    z-index: 1;

    &::before {
      background-color: var(--secondary-dark);
      clip-path: polygon(calc(0% + 3em) 0, 100% 0%, 100% 100%, 0% 100%);
    }
  }
}

.deco {
  position: absolute;
  top: var(--bdr-tn);
  left: var(--bdr-tn);
  width: calc(100% - (var(--bdr-tn) * 2));
  height: calc(100% - (var(--bdr-tn) * 2));
}

aside {
  .mt\:sm:first-child {
    margin-top: 0;
  }

  app-exterience-item + app-exterience-item {
    margin-top: calc(var(--vm) * 0.25);
  }

  h3 {
    margin-bottom: 1.111em;
  }
}

/* 651px Responsive (min-width) */
@media screen and (min-width: 651px) {
  .exp {
    padding: calc(var(--vp) * 0.9336);
  }

  .exp,
  .deco {
    clip-path: polygon(
      50% 0,
      100% 0,
      100% 50%,
      100% calc(100% - 3em),
      calc(100% - 3em) 100%,
      50% 100%,
      0 100%,
      0 50%,
      0 3em,
      3em 0
    );
  }

  .scroll {
    padding-right: 1rem;
  }
}

// 1025px Responsive (min-width)
@media screen and (min-width: 1025px) {
  .title {
    strong {
      padding-right: 0;
    }
  }
}

// 1201px Responsive (min-width)
@media screen and (min-width: 1201px) {
  aside {
    width: calc(50% - 2.273em);
  }

  app-content {
    width: calc(var(--half) - 2.727em);
  }

  .scroll {
    max-height: 20em;
  }
}

// 1025px Responsive (min-width) & 1200px (max-width)
@media screen and (max-width: 1200px) and (min-width: 1025px) {
  .bx {
    width: 40%;
  }

  .title {
    width: calc(100% - 3em);
  }

  aside {
    width: 100%;
  }

  app-content {
    width: calc(60% - 2.272em);
  }

  app-profile-image {
    display: none;
  }
}

// 801px Responsive (min-width) & 1024px (max-width)
@media screen and (max-width: 1024px) and (min-width: 801px) {
  .scroll {
    max-height: 30.4em;
  }
}

// 651px Responsive (min-width) & 1024px (max-width)
@media screen and (max-width: 1024px) and (min-width: 651px) {
  aside {
    width: calc(50% - 2.273em);
  }
}

// 651px Responsive (min-width) & 800px (max-width)
@media screen and (max-width: 800px) and (min-width: 651px) {
  .scroll {
    max-height: 18.76em;
  }
}

// 1024px Responsive (max-width)
@media screen and (max-width: 1024px) {
  app-content {
    width: 100%;
  }
}

/* 650px Responsive (max-width) */
@media screen and (max-width: 650px) {
  .title {
    width: 100%;
  }

  .exp,
  .deco {
    padding: var(--vm) var(--hp);
  }
}
