<div class="mn">
  <!-- Header -->
  <app-section-header title="About Oscar"></app-section-header>

  <div class="nlf-middle-between blk-1024-mgd">
    <!-- Experience -->
    <div class="half bx psu-bfr psu-aft rel">
      <div class="half title nlf-end hdn">
        <strong class="full ttl-1 sm psu-bfr rel vp:tn hp: ta:c"
          >Oscar Saca</strong
        >
      </div>
      <div class="exp bg-bx-lt nlf-middle-between-reverse blk-650-mgd rel">
        <span class="deco bg-bx-drk"></span>
      </div>
    </div>
    <!-- Bio/Content -->
    <app-content title="Additional Information"></app-content>
  </div>
</div>
