<picture class="img hdn" role="presentation">
  <source
    media="(max-width: 500px)"
    srcset="/assets/images/grid-lines-img-mobile.png"
  />
  <source
    media="(max-width: 800px)"
    srcset="/assets/images/grid-lines-img-tablet.png"
  />
  <source
    media="(max-width: 1024px)"
    srcset="/assets/images/grid-lines-img-small-laptop.png"
  />
  <source
    media="(max-width: 1200px)"
    srcset="/assets/images/grid-lines-img-laptop.png"
  />
  <img src="/assets/images/grid-lines-img.png" alt="" loading="lazy" />
</picture>
