:host {
  height: var(--mainstage-lines-height);

  &::before {
    height: calc(100% + 50vh);
    background: repeating-linear-gradient(
      rgba(0, 0, 0, 0.12) 0%,
      rgba(0, 0, 0, 0.12) 25%,
      transparent 40%,
      transparent 100%
    );
    background-size: 0.636em 0.636em;
    z-index: 0;
    animation: move-yo 75s linear infinite;
  }
}

@keyframes move-yo {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(0);
  }
}

// 501px Responsive (min-width) & 650px (max-width)
@media screen and (max-width: 650px) and (min-width: 501px) {
  :host {
    --mainstage-lines-height: 76%;
  }
}

// 651px Responsive (min-width) & 800px (max-width)
@media screen and (max-width: 800px) and (min-width: 651px) {
  :host {
    --mainstage-lines-height: 74%;
  }
}

// 801px Responsive (min-width) & 1024px (max-width)
@media screen and (max-width: 1024px) and (min-width: 801px) {
  :host {
    --mainstage-lines-height: 80%;
  }
}

// 1025px Responsive (min-width) & 1200px (max-width)
@media screen and (max-width: 1200px) and (min-width: 1025px) {
  :host {
    --mainstage-lines-height: 70%;
  }
}

// 1201px Responsive (min-width)
@media screen and (min-width: 1201px) {
  :host {
    --mainstage-lines-height: 67%;
  }
}

// 500px Responsive (max-width)
@media screen and (max-width: 500px) {
  :host {
    --mainstage-lines-height: 79%;
  }
}
