:root {
  // global
  --mn-w: 79.6467rem; // main width
  --bdr-tqq: 3px; // thiqq border
  --bdr-tn: 2px; // thin border

  // sizes
  --full: 100%;
  --half: 50%;
  --third: 33.333%;
  --two-thirds: 66.667%;
  --fourth: 25%;
  --three-fourths: 75%;
}
