<h3 class="ttl-2 mb:sm">{{ title }}</h3>
<div class="scroll cnt-stl mf">
  <p>
    I am a driven and detail-oriented developer with a strong background in
    computing technology and web development. I have a proven record of success
    through implementing innovative and unique ideas to every project. Though I
    am highly experienced in software development, I am always looking for ways
    to grow as a developer. My projects rarely require modifications and my end
    product is consistently flawless. I thrive in fast paced environments and
    love to work with change. As a software engineer at Scorpion, I quickly
    adjust to project alterations and am more than willing to put in the time a
    project needs for completion.
  </p>
  <p>
    <strong
      ><em
        >“Oscar is passionate &amp; dedicated to every project that’s put in
        front of him” – Project Teammate</em
      ></strong
    >
  </p>
  <p>
    I love approaching every aspect of my life with a positive attitude, and my
    outgoing personality helps with the chemistry of every team I work with. As
    a team player, I am always willing to extend a helping hand to any colleague
    who needs it. Effective communication matters—and I use it for productive
    collaborative work!
  </p>
</div>
