<h3 class="ttl-2 mb:sm">{{ title }}</h3>
<div class="scroll cnt-stl mf">
  <p>As a senior software engineer, I am a motivated, creative, and innovative individual with 8+ years of experience. I am passionate about crafting digital experiences that are not only functional, but also visually appealing, intuitive, and enjoyable for the end-user. I have worked on projects ranging from small-scale web applications to large-scale enterprise solutions, and have always placed the user experience at the forefront of my work.</p>
  <p>I love approaching every aspect of my life with a positive attitude, and my outgoing personality brings synergy to every team I work with. I believe that a happy team is a productive team, and I strive to create a work environment that is both challenging and enjoyable.</p>
  <p>I am committed to delivering high-quality projects that exceed client expectations and provide the best possible user experience. With my passion for innovation, creativity, and learning, I am confident that I can help take any project to the next level.</p>
</div>
