:host::before,
:host::after {
  opacity: 0;
  background-size: contain;
  z-index: 1;
}

:host::before {
  width: 45.955em;
  height: 35.091em;
  left: 50%;
  transform: translate(-50%, 3em);
  background-image: url("/assets/images/planet-img.webp");
  background-position: bottom center;
  animation: float 1.5s ease forwards 0.2s;
}

:host::after {
  width: 9.409em;
  height: 9.545em;
  transform: translateY(2em);
  background-image: url("/assets/images/moon-img.webp");
  background-position: center;
  animation: float 3s ease forwards 0.2s;
}

@keyframes float {
  0% {
    opacity: 0;
    transform: translate(-50%, 3em);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

// 501px Responsive (min-width)
@media screen and (min-width: 501px) {
  :host::after {
    top: calc(var(--mstg-tp) + 1.5em);
    left: 4.591em;
  }
}

// 501px Responsive (min-width) & 650px (max-width)
@media screen and (max-width: 650px) and (min-width: 501px) {
  :host {
    font-size: 0.65em;
  }
}

// 651px Responsive (min-width) & 800px (max-width)
@media screen and (max-width: 800px) and (min-width: 651px) {
  :host {
    font-size: 0.7em;
  }
}

// 801px Responsive (min-width) & 1024px (max-width)
@media screen and (max-width: 1024px) and (min-width: 801px) {
  :host {
    font-size: 0.9em;
  }
}

// 500px Responsive (max-width)
@media screen and (max-width: 500px) {
  :host {
    font-size: 0.6em;
  }

  :host::before {
    top: 5%;
  }

  :host::after {
    top: calc(var(--mstg-tp) + 12%);
    left: 10%;
    font-size: 0.6em;
  }
}
