.lg {
  width: 2.045em;
  height: 2.045em;

  path,
  circle {
    fill: transparent;
    stroke-width: 30;
  }
}

:host strong {
  margin-left: 0.578em;
}

.no-animation:host [class*="bg-"] {
  transition: none;
}
// 1200px Responsive (max-width)
@media screen and (max-width: 1200px) {
  .lg {
    font-size: var(--font-bump);
  }
}
