.lg {
  width: 2.045em;
  height: 2.045em;
}

.lg path,
.lg circle {
  fill: transparent;
  stroke-width: 30;
}

.lg .bg-o {
  stroke-dasharray: 1262;
  stroke-dashoffset: 1262;
  transition: stroke-dashoffset 0.8s linear 0.4s;
}

.lg .bg-s {
  stroke-dasharray: 1259;
  stroke-dashoffset: 1259;
  transition: stroke-dashoffset 1.2s linear 0s;
}

.animate:host [class*="bg-"],
.no-animation:host [class*="bg-"] {
  stroke-dashoffset: 0;
}

:host strong {
  margin-left: 0.578em;
  will-change: transform, opacity;
  transform: translateY(-0.769rem);
  opacity: 0;
  transition: transform 1s ease 1s, opacity 1s ease 1s;
}

.animate:host strong,
.no-animation:host strong {
  transform: translateY(0);
  opacity: 1;
}

.no-animation:host strong,
.no-animation:host [class*="bg-"] {
  transition: none;
}
